{% extends 'chart/navbar.html' %}
{% load static %}
{% block content %}
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-900">{{patient.name}}</h1>
                    <p class="mb-4">Details</p>

                    <div class="row">

                        <div class="col-lg-6">

                            <!-- Patient's Information -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Patient's Information</h6>
                                </div>
                                <div class="card-body text-gray-900">
                                    Assigned Doctor: <b>{{patient.telemed.getFullName}}</b><br>
                                    Name: <b>{{patient.name}}</b><br>
                                    Age: <b>{{patient.age}}</b><br>
                                    Gender: <b>{{patient.gender}}</b><br>
                                    Address: <b>{{patient.address}}, {{patient.barangay}}, Muntinlupa City</b><br>
                                    Number of Children: <b>{{patient.numchild}}</b><br>
                                    Names of Children: <b>{{patient.namechild}}</b><br>
                                    Contact Number: <b>{{patient.contactnumber}}</b><br>
                                    Email: <b>{{patient.email}}</b><br>
                                    Telemedicine: <b>{{patient.telemedicine}}</b><br>
                                    Height in cm: <b>{{patient.bmiheight}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b><br>
                                    Weight in kg: <b>{{patient.bmiweight}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b><br>
                                    BMI: <b>{{patient.finalbmi}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b><br><br>
                                    Vaccine: <b>{{patient.vaccine}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
                                    <ul>
                                        <li>1st Dose: <b>{{patient.firstdose}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                        <li>2nd Dose: <b>{{patient.seconddose}}</b></li>
                                        <li>Date of 1st Dose: <b>{{patient.fdosedate}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
                                        <li>Date of 2nd Dose: <b>{{patient.sdosedate}}</b></li>
                                    </ul>
                                    Antigen Test Result: <b>{{patient.antigenresult}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <ul>
                                       <li>Date Released: <b>{{patient.antigendate}}</b></li>
                                       {% if patient.antigenfile.url is not null %}
                                       <li>File: <a href="{{patient.antigenfile.url}}">{{patient.name}}'s Antigen Test Results</a> </li>
                                       {% endif %}
                                    </ul>

                                    RT-PCR Test Result: <b>{{patient.rtpcrresult}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <ul>
                                        <li>Date Released: <b>{{patient.rtpcrdate}}</b><br></li>
                                        {% if patient.rtpcrfile.url is not null %}
                                        <li>File: <a href="{{patient.rtpcrfile.url}}">{{patient.name}}'s RTPCR Test Results</a> </li>
                                        {% endif %}
                                    </ul>
                                    Chest X-ray or Film Array: <b>{{patient.xray}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <ul>
                                        <li>Date Released: <b>{{patient.xraydate}}</b><br></li>
                                        {% if patient.xrayfile.url is not null %}
                                        <li>File: <a href="{{patient.xrayfile.url}}">{{patient.name}}'s X-Ray Test Results</a> </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>

                            <!-- Health History -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Health History</h6>
                                </div>
                                <div class="card-body text-gray-900">
                                    1. Day of onset of symptoms: <b>{{patient.startdate}}</b><br>
                                    2. Last day of exposure: <b>{{patient.lastdate}}</b><br>
                                    3. Have you worked together or stayed in the same
                                    close environment of with symptoms, confirmed
                                    or suspected COVID-19 Positive ? (Healthcare
                                    workers wearing proper PPE not included.) <b>{{patient.question3}}</b><br>
                                    4. Have you travelled to any area aside from work
                                    or outside of the Philippines in the last 2 weeks? <b>{{patient.question4}}</b><br>
                                    5. Have you been diagnosed with any co-morbidities:
                                    <ul style="list-style-type: none;">
                                    <li>Hypertension: <b>{{patient.has_hypertension}}</b></li>
                                    <li>Diabetes: <b>{{patient.has_diabetes}}</b></li>
                                    <li>Heart Diseases: <b>{{patient.has_heart_disease}}</b></li>
                                    <li>Lung Diseases: <b>{{patient.has_lung_disease}}</b></li>
                                    <li>Gastrointestinal Diseases: <b>{{patient.has_gastro}}</b></li>
                                    <li>Genitourinary Diseases: <b>{{patient.has_genito}}</b></li>
                                    <li>Neurological Diseases: <b>{{patient.has_neuro}}</b></li>
                                    <li>Cancer: <b>{{patient.has_cancer}}</b></li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6">
                            {% if request.user.is_LGU %}
                            <div class="row">
                                <!-- Card Example -->
                                <div class="col-xl-6 col-md-6 mb-4">
                                    <div class="card border-left-success shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                        Record</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">Vital Signs</div>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="{% url 'vitalsign' patient.id %}" class="btn btn-success btn-circle btn-lg">
                                                        <i class="fas fa-clipboard-list"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Card Example -->
                                <div class="col-xl-6 col-md-6 mb-4">
                                    <div class="card border-left-warning shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                        Record</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">Daily Health</div>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="{% url 'healthtracker' patient.id %}" class="btn btn-warning btn-circle btn-lg">
                                                        <i class="fas fa-clipboard-list"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Health Tracker</h6>
                                </div>
                                <div class="card-body text-gray-900">
                                    Date: <b>{{healthtracker.date_created.date}}</b><br>
                                    Time: <b>{{healthtracker.date_created.time}}</b><br>   
                                    Asymptomatic: <b>{{healthtracker.asymptomatic}}</b><br>
                                    Fever: <b>{{healthtracker.fever}}</b><br>
                                    Cough: <b>{{healthtracker.cough}}</b><br>
                                    General Weakness: <b>{{healthtracker.generalweakness}}</b><br>
                                    Fatigue: <b>{{healthtracker.fatigue}}</b><br>
                                    Headache: <b>{{healthtracker.headache}}</b><br>
                                    Body aches: <b>{{healthtracker.bodyaches}}</b><br>
                                    Sore throat: <b>{{healthtracker.sorethroat}}</b><br>
                                    Runny nose: <b>{{healthtracker.runnynose}}</b><br>
                                    Dyspnea: <b>{{healthtracker.dyspnea}}</b><br>
                                    Loss of appetite: <b>{{healthtracker.lossappetite}}</b><br>
                                    Nausea: <b>{{healthtracker.nausea}}</b><br>
                                    Vomiting: <b>{{healthtracker.vomiting}}</b><br>
                                    Diarrhea: <b>{{healthtracker.diarrhea}}</b><br>
                                    Altered Mental State: <b>{{healthtracker.alteredmentalstate}}</b><br>
                                    Loss of Smell: <b>{{healthtracker.losssmell}}</b><br>
                                    Loss of Taste: <b>{{healthtracker.losstaste}}</b><br>
                                    Others: <b>{{healthtracker.others}}</b><br>                      
                                </div>
                            </div>

                        </div>

                    </div>
                    
{% endblock content %}