{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Community E-Chart</title>

    <!-- Favicon  -->
    <link rel="icon" type="image/png" href="{% static '/images/icon.png' %}">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon rotate-n-15">
                </div>
                <div class="sidebar-brand-text mx-3">E - Chart</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'communityboard' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Community Board</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Worklist
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'brgyregistry' %}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Barangay Registry</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'monitor' %}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Monitor</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Transfer</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Summary Reports
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Statistics</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>


                        <!-- Nav Item - User Information
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.svg">
                            </a>
                            Dropdown - User Information 
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li> -->

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-900">Daily Health Tracker</h1>

                    <div class="row">

                        <div class="col-lg-6">

                            <!-- Patient's Information -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Patient's Information</h6>
                                </div>
                                <div class="card-body text-gray-900">
                                    Name:<br>
                                    Age:<br>
                                    Gender:<br>
                                    Address:<br>
                                    Number of Children:<br>
                                    Names of Children:<br>
                                    Contact Number:<br>
                                    Email:<br>
                                    Vaccine: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dose:<br>
                                    Date of 1st Dose: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Date of 2nd Dose:<br>
                                    Telemedicine:<br>
                                    Antigen Test Result: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date Released:<br>
                                    RT-PCR Test Result: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date Released:<br>
                                    Chest X-ray or Film Array: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date Released:<br>
                                </div>
                            </div>

                            <!-- Health History -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Health History</h6>
                                </div>
                                <div class="card-body text-gray-900">
                                    1. Day of onset of symptoms:<br>
                                    2. Last day of exposure:<br>
                                    3. For 2 weeks or more, do you have unexplained
                                    weight loss or night sweats?<br>
                                    4. Have you worked together or stayed in the same
                                    close environment of with symptoms, confirmed
                                    or suspected COVID-19 Positive ? (Healthcare
                                    workers wearing proper PPE not included.)<br>
                                    5. Have you travelled to any area aside from work
                                    or outside of the Philippines in the last 2 weeks?<br>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6">
                
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Do you or any of your family member experience any of the following
                                        symptoms?</h6>
                                </div>
                                <div class="card-body">
                                    <form class="user">
                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label for="rasymptomatic" class="text-gray-900">Asymptomatic&emsp;&emsp;</label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rasymptomatic" id="rasymptomatic1" value="yes">
                                                    <label class="text-gray-900" for="rasymptomatic1">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rasymptomatic" id="rasymptomatic2" value="no">
                                                    <label class="text-gray-900" for="rasymptomatic2">No</label>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <center>
                                                <label for="feverdeg" class="text-gray-900">Fever (°C)</label>
                                                <input type="number" class="form-control form-control-user" id="feverdeg" placeholder=""> 
                                                </center>
                                            </div>
                                           
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label for="rcough" class="text-gray-900">Cough&emsp;&emsp;&emsp;&emsp;</label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rcough" id="rcough1" value="yes">
                                                    <label class="text-gray-900" for="rcough1">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rcough" id="rcough2" value="no">
                                                    <label class="text-gray-900" for="rcough2">No</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="rgw" class="text-gray-900">General Weakness&emsp;</label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rgw" id="rgw1" value="yes">
                                                    <label class="text-gray-900" for="rgw1">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rgw" id="rgw2" value="no">
                                                    <label class="text-gray-900" for="rgw2">No</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label for="rfatigue" class="text-gray-900">Fatigue&emsp;&emsp;&emsp;&ensp;</label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rfatigue" id="rfatigue1" value="yes">
                                                    <label class="text-gray-900" for="rfatigue1">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rfatigue" id="rfatigue2" value="no">
                                                    <label class="text-gray-900" for="rfatigue2">No</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="rheadache" class="text-gray-900">Headache&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;</label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rheadache" id="rheadache1" value="yes">
                                                    <label class="text-gray-900" for="rheadache1">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rheadache" id="rheadache2" value="no">
                                                    <label class="text-gray-900" for="rheadache2">No</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label for="rbodyache" class="text-gray-900">Body Aches&emsp;&ensp;</label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rbodyache" id="rbodyache1" value="yes">
                                                    <label class="text-gray-900" for="rbodyache1">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rbodyache" id="rbodyache2" value="no">
                                                    <label class="text-gray-900" for="rbodyache2">No</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="rsorethroat" class="text-gray-900">Sore Throat&emsp;&emsp;&emsp;&ensp;&nbsp;</label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rsorethroat" id="rsorethroat1" value="yes">
                                                    <label class="text-gray-900" for="rsorethroat1">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rsorethroat" id="rsorethroat2" value="no">
                                                    <label class="text-gray-900" for="rsorethroat2">No</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label for="rnose" class="text-gray-900">Runny nose&emsp;&ensp;</label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rnose" id="rnose1" value="yes">
                                                    <label class="text-gray-900" for="rnose1">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rnose" id="rnose2" value="no">
                                                    <label class="text-gray-900" for="rnose2">No</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="rdys" class="text-gray-900">Dyspnea&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;</label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rdys" id="rdys1" value="yes">
                                                    <label class="text-gray-900" for="rdys1">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rdys" id="rdys2" value="no">
                                                    <label class="text-gray-900" for="rdys2">No</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label for="rappetite" class="text-gray-900">Loss of appetite&emsp;</label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rappetite" id="rappetite1" value="yes">
                                                    <label class="text-gray-900" for="rappetite1">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rappetite" id="rappetite2" value="no">
                                                    <label class="text-gray-900" for="rappetite2">No</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="rnau" class="text-gray-900">Nausea&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;</label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rnau" id="rnau1" value="yes">
                                                    <label class="text-gray-900" for="rnau1">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rnau" id="rnau2" value="no">
                                                    <label class="text-gray-900" for="rnau2">No</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label for="rvom" class="text-gray-900">Vomiting&emsp;&emsp;&ensp;</label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rvom" id="rvom1" value="yes">
                                                    <label class="text-gray-900" for="rvom1">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rvom" id="rvom2" value="no">
                                                    <label class="text-gray-900" for="rvom2">No</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="rdiar" class="text-gray-900">Diarrhea&emsp;&emsp;&emsp;&emsp;&emsp;</label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rdiar" id="rdiar1" value="yes">
                                                    <label class="text-gray-900" for="rdiar1">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rdiar" id="rdiar2" value="no">
                                                    <label class="text-gray-900" for="rdiar2">No</label>
                                                </div>
                                            </div>
                                        </div>

                                        <hr>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <center>
                                                <label for="raltered" class="text-gray-900">Altered Mental State&emsp;&emsp;</label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="raltered" id="raltered1" value="yes">
                                                    <label class="text-gray-900" for="raltered1">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="raltered" id="raltered2" value="no">
                                                    <label class="text-gray-900" for="raltered2">No</label>
                                                </div>
                                                </center>
                                            </div> 
                                        </div>
                                        <hr>

                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <label for="rsmell" class="text-gray-900">Loss of Smell&emsp;&emsp;</label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rsmell" id="rsmell1" value="yes">
                                                    <label class="text-gray-900" for="rsmell1">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rsmell" id="rsmell2" value="no">
                                                    <label class="text-gray-900" for="rsmell2">No</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="rtaste" class="text-gray-900">Loss of Taste&emsp;&emsp;</label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rtaste" id="rtaste1" value="yes">
                                                    <label class="text-gray-900" for="rtaste1">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="rtaste" id="rtaste2" value="no">
                                                    <label class="text-gray-900" for="rtaste2">No</label>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <center>
                                                <label for="others" class="text-gray-900">Others, specify</label>
                                                <input type="text" class="form-control form-control-user" id="others" placeholder=""> 
                                                </center>
                                            </div>
                                        </div>

                                        
                                        <a href="{% url 'patientinfo' %}" class="btn btn-primary btn-user btn-block">
                                            Save
                                        </a>
        
                                    </form>
                                </div>
                            </div>

                        </div>

                    </div>
                    

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Community E-Chart 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>



    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>

</body>

</html>