{% extends 'chart/navbar.html' %}
{% load static %}
{% block content %}
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-900">{{request.user.getFullName}}</h1>
                    <p class="mb-4">Details</p>

                    <div class="row">

                        <div class="col-lg-6">

                            <!-- Patient's Information -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Employee's Information</h6>
                                </div>
                                <div class="card-body text-gray-900">
                                    Name: <b>{{request.user.getFullName}}</b><br>
                                    Email: <b>{{request.user.getEmail}}</b><br>
                                    Age: <b>{{request.user.getAge}}</b><br>
                                    Gender: <b>{{request.user.getGender}}</b><br>
                                    Address: <b>{{request.user.getAddress}}</b><br>
                                    Employee Number: <b>{{request.user.getEmployeeNum}}</b><br>
                                    Contact Number: <b>{{request.user.getContactNum}}</b><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    
{% endblock content %}