{% extends 'chart/navbar.html' %}
{% load static %}
{% block content %}
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-900">Statistics</h1>
                    <p class="mb-4 text-gray-900">Muntinlupa City</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Summary Reports</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered text-gray-900" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Barangay</th>
                                            <th>Registered</th>
                                            <th>Monitored</th>
                                            <th>Transferred</th>
                                            <th>Referred</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Date</th>
                                            <th>Barangay</th>
                                            <th>Registered</th>
                                            <th>Monitored</th>
                                            <th>Transferred</th>
                                            <th>Referred</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

{% endblock content %}