{% extends 'chart/navbar.html' %}
{% load static %}
{% block content %}
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-900">Vital Signs</h1>

                    <div class="row">

                        <div class="col-lg-6">

                            <!-- Patient's Information -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Patient's Information</h6>
                                </div>
                                <div class="card-body text-gray-900">
                                    Name:<br>
                                    Age:<br>
                                    Gender:<br>
                                    Address:<br>
                                    Number of Children:<br>
                                    Names of Children:<br>
                                    Contact Number:<br>
                                    Email:<br>
                                    Vaccine: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dose:<br>
                                    Date of 1st Dose: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Date of 2nd Dose:<br>
                                    Telemedicine:<br>
                                    Antigen Test Result: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date Released:<br>
                                    RT-PCR Test Result: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date Released:<br>
                                    Chest X-ray or Film Array: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date Released:<br>
                                </div>
                            </div>

                            <!-- Health History -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Health History</h6>
                                </div>
                                <div class="card-body text-gray-900">
                                    1. Day of onset of symptoms:<br>
                                    2. Last day of exposure:<br>
                                    3. For 2 weeks or more, do you have unexplained
                                    weight loss or night sweats?<br>
                                    4. Have you worked together or stayed in the same
                                    close environment of with symptoms, confirmed
                                    or suspected COVID-19 Positive ? (Healthcare
                                    workers wearing proper PPE not included.)<br>
                                    5. Have you travelled to any area aside from work
                                    or outside of the Philippines in the last 2 weeks?<br>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6">
                
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Vital Signs</h6>
                                </div>
                                <div class="card-body">
                                    <form class="user">
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <center>
                                                <label for="bp" class="text-gray-900">Blood Pressure</label>
                                                <input type="text" class="form-control form-control-user" id="bp" placeholder=""> 
                                                </center>
                                            </div> 
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <center>
                                                <label for="hr" class="text-gray-900">Heart Rate</label>
                                                <input type="text" class="form-control form-control-user" id="hr" placeholder=""> 
                                                </center>
                                            </div> 
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <center>
                                                <label for="rr" class="text-gray-900">Respiratory Rate</label>
                                                <input type="text" class="form-control form-control-user" id="rr" placeholder=""> 
                                                </center>
                                            </div> 
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <center>
                                                <label for="temp" class="text-gray-900">Temperature</label>
                                                <input type="text" class="form-control form-control-user" id="temp" placeholder=""> 
                                                </center>
                                            </div> 
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <center>
                                                <label for="ps" class="text-gray-900">Pain Scale</label>
                                                <input type="text" class="form-control form-control-user" id="ps" placeholder=""> 
                                                </center>
                                            </div> 
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <center>
                                                <label for="o2" class="text-gray-900">O2 Saturation</label>
                                                <input type="text" class="form-control form-control-user" id="o2" placeholder=""> 
                                                </center>
                                            </div> 
                                        </div>

                                        
                                        
                                        <a href="{% url 'patientinfo' %}" class="btn btn-primary btn-user btn-block">
                                            Save
                                        </a>
        
                                    </form>
                                </div>
                            </div>

                        </div>

                    </div>

{% endblock content %}