{% extends 'chart/navbar.html' %}
{% load static %}
{% block content %}
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-900">Patient Registration</h1>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">A set of questions required:</h6>
                        </div>
                        <div class="card-body">
                            {% if submitted %}
                                Patient Registered Succesfully!
                            {% else %}
                                <form action="" method=POST class="user">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <label for="name" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;Name</label><br>
                                            {{form.name}}   
                                        </div>
                                        <div class="col-sm-3">
                                            <label for="age" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;Age</label><br>
                                            {{form.age}}
                                        </div>
                                        <div class="col-sm-3">
                                            <label for="gender" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;Gender</label><br>
                                            {{form.gender}}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label for="streetAddress" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;Address</label><br>
                                            {{form.address}}
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="barangay" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;Barangay</label><br>
                                            {{form.barangay}}
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="city" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;City / Municipality</label><br>
                                            {{form.city}}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-4 mb-3 mb-sm-0">
                                            <label for="numofchild" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;Number of Children</label><br>
                                            {{form.numchild}}
                                        </div>
                                        <div class="col-sm-8">
                                            <label for="nameofchild" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;Names of Children</label><br>
                                            {{form.namechild}}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <label for="contactnumber" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;Contact Number</label><br>
                                            {{form.contactnumber}}
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="email" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;Email</label><br>
                                            {{form.email}}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-2 mb-3 mb-sm-0">
                                            <label for="vaccine" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;Vaccine</label><br>
                                            {{form.vaccine}}
                                        </div>
                                        <div class="col-sm-2 mb-3 mb-sm-0">
                                            <label for="firstdose" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;1st Dose</label><br>
                                            {{form.firstdose}}
                                        </div>
                                        <div class="col-sm-2 mb-3 mb-sm-0">
                                            <label for="seconddose" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;2nd Dose</label><br>
                                            {{form.seconddose}}
                                        </div>
                                        <div class="col-sm-2 mb-3 mb-sm-0">
                                            <label for="vaccine" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;Date of 1st Dose</label><br>
                                            {{form.fdosedate}}
                                        </div>
                                        <div class="col-sm-2 mb-3 mb-sm-0">
                                            <label for="vaccine" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;Date of 2nd Dose</label><br>
                                            {{form.sdosedate}}
                                        </div>
                                        <div class="col-sm-2">
                                            <label for="telemed" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;Telemedicine</label><br>
                                            {{form.telemedicine}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group row">
                                        <div class="col-sm-4 mb-3 mb-sm-0">
                                            <label for="antigenresult" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;Antigen Test Result</label><br>
                                            {{form.antigenresult}}
                                        </div>
                                        <div class="col-sm-4 mb-3 mb-sm-0">
                                            <label for="antigendate" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;Date Released</label><br>
                                            {{form.antigendate}}
                                        </div>
                                        <div class="col-sm-4 mb-3 mb-sm-0">
                                            <label for="antigenresultfile" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;Result (file)</label><br>
                                            {{form.antigenfile}}
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label for="rtpcrresult" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;RT-PCR Test Result</label><br>
                                            {{form.rtpcrresult}}
                                        </div>
                                        <div class="col-sm-4 mb-3 mb-sm-0">
                                            <label for="rtpcrdate" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;Date Released</label><br>
                                            {{form.rtpcrdate}}
                                        </div>
                                        <div class="col-sm-4 mb-3 mb-sm-0">
                                            <label for="rtpcrresultfile" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;Result (file)</label><br>
                                            {{form.rtpcrfile}}
                                        </div>
                                    </div>                                    

                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label for="xray" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;Chest X-ray or Film Array</label><br>
                                            {{form.xray}}
                                        </div>
                                        <div class="col-sm-4 mb-3 mb-sm-0">
                                            <label for="xraydate" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;Date Released</label><br>
                                            {{form.xraydate}}
                                        </div>
                                        <div class="col-sm-4 mb-3 mb-sm-0">
                                            <label for="xrayresultfile" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;Result (file)</label><br>
                                            {{form.xrayfile}}
                                        </div>
                                    </div>

                                    <!--for BMI-->
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label for="rtpcrresult" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;Height</label><br>
                                            {{form.bmiheight}}
                                        </div>
                                        <div class="col-sm-4 mb-3 mb-sm-0">
                                            <label for="rtpcrdate" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;Weight</label><br>
                                            {{form.bmiweight}}
                                        </div>
                                        
                                        <div class="col-sm-4 mb-3 mb-sm-0">
                                            <label for="rtpcrresultfile" class="text-gray-900">&nbsp;&nbsp;&nbsp;&nbsp;Resulting BMI to be recorded</label><br>
                                            {{form.finalbmi}} <br>
                                            <input type="button" value="Calculate BMI" class="btn btn-primary btn-block" onclick="getBMI()">
                                            <script>
                                                function getBMI(){

                                                }
                                            </script>
                                        </div>
                                        <!--BMI-->
                                    </div>

                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Health History:</h6>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <label for="symptomsdate" class="text-gray-900"><br>1. Day of onset of symptoms</label>
                                            {{form.startdate}}
                                        </div>
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <label for="exposuredate" class="text-gray-900"><br>2. Last day of exposure</label>
                                            {{form.lastdate}}
                                        </div>
                                        
                                        <div class="col-sm-12">
                                            <label for="radio4" class="text-gray-900"><br>3. Have you worked together or stayed in the same close environment of with symptoms, confirmed or suspected COVID-19 Positive? (Healthcare workers wearing proper PPE not included.)</label><br>
                                            {{form.question3}}
                                        </div>
                                        <div class="col-sm-12">
                                            <label for="radio5" class="text-gray-900"><br>4. Have you travelled to any area aside from work or outside of the Philippines in the last 2 weeks?</label><br>
                                            {{form.question4}}
                                        </div>
                                        <div class="col-sm-12">
                                            <label for="radio5" class="text-gray-900"><br>5. Have you been diagnosed with any co-morbidities? If so, please enumerate them.</label><br>
                                            {{form.question5}}
                                        </div>
                                        <center>
                                        <div class="col-sm-12">
                                            <label for="status" class="text-gray-900"><br>Status:</label><br>
                                            {{form.status}}
                                        </div>
                                        </center>
                                    </div>
                                    <input type="submit" value="Register Patient" class="btn btn-primary btn-user btn-block">
                                </form>
                            {% endif %}
                        </div>
                    </div>
{% endblock content %}