{% extends 'chart/navbar.html' %}
{% load static %}
{% block content %}
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-900">{{patient.name}}</h1>
                    <p class="mb-4">Details</p>

                    <div class="row">

                        <div class="col-lg-6">

                            <!-- Patient's Information -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Patient's Information</h6>
                                </div>
                                <div class="card-body text-gray-900">
                                    Name: <b>{{patient.name}}</b><br>
                                    Age: <b>{{patient.age}}</b><br>
                                    Gender: <b>{{patient.gender}}</b><br>
                                    Address: <b>{{patient.address}}, {{patient.barangay}}, Muntinlupa City</b><br>
                                    Number of Children: <b>{{patient.numchild}}</b><br>
                                    Names of Children: <b>{{patient.namechild}}</b><br>
                                    Contact Number: <b>{{patient.contactnumber}}</b><br>
                                    Email: <b>{{patient.email}}</b><br>
                                    Vaccine: <b>{{patient.vaccine}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
                                    Telemedicine: <b>{{patient.telemedicine}}</b><br>
                                    <ul>
                                        <li>1st Dose: <b>{{patient.firstdose}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                        <li>2nd Dose: <b>{{patient.seconddose}}</b></li>
                                        <li>Date of 1st Dose: <b>{{patient.fdosedate}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
                                        <li>Date of 2nd Dose: <b>{{patient.sdosedate}}</b></li>
                                    </ul>
                                    Antigen Test Result: <b>{{patient.antigenresult}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <ul>
                                       <li>Date Released: <b>{{patient.antigendate}}</b></li>
                                    </ul>

                                    RT-PCR Test Result: <b>{{patient.rtpcrresult}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <ul>
                                    <li>Date Released: <b>{{patient.rtpcrdate}}</b><br></li>
                                    </ul>
                                        <li>Chest X-ray or Film Array: <b>{{patient.xray}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                    <ul>
                                        <li>Date Released: <b>{{patient.xraydate}}</b><br></li>
                                    </ul>
                                    Height in cm: <b>{{patient.bmiheight}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b><br>
                                    Weight in kg: <b>{{patient.bmiweight}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b><br>
                                    BMI: <b>{{patient.finalbmi}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b><br>
                                </div>
                            </div>

                            <!-- Health History -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Health History</h6>
                                </div>
                                <div class="card-body text-gray-900">
                                    1. Day of onset of symptoms: <b>{{patient.startdate}}</b><br>
                                    2. Last day of exposure: <b>{{patient.lastdate}}</b><br>
                                    3. Have you worked together or stayed in the same
                                    close environment of with symptoms, confirmed
                                    or suspected COVID-19 Positive ? (Healthcare
                                    workers wearing proper PPE not included.) <b>{{patient.question3}}</b><br>
                                    4. Have you travelled to any area aside from work
                                    or outside of the Philippines in the last 2 weeks? <b>{{patient.question4}}</b><br>
                                    5. Have you been diagnosed with any co-morbidities:
                                    <ul style="list-style-type: none;">
                                    <li>Hypertension: <b>{{patient.has_hypertension}}</b></li>
                                    <li>Diabetes: <b>{{patient.has_diabetes}}</b></li>
                                    <li>Heart Diseases: <b>{{patient.has_heart_disease}}</b></li>
                                    <li>Lung Diseases: <b>{{patient.has_lung_disease}}</b></li>
                                    <li>Gastrointestinal Diseases: <b>{{patient.has_gastro}}</b></li>
                                    <li>Genitourinary Diseases: <b>{{patient.has_genito}}</b></li>
                                    <li>Neurological Diseases: <b>{{patient.has_neuro}}</b></li>
                                    <li>Cancer: <b>{{patient.has_cancer}}</b></li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6">
                            <div class="row">
                                <!-- Card Example -->
                                <div class="col-xl-6 col-md-6 mb-4">
                                    <div class="card border-left-success shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                        Record</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">Vital Signs</div>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="{% url 'vitalsign' patient.id %}" class="btn btn-success btn-circle btn-lg">
                                                        <i class="fas fa-clipboard-list"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Card Example -->
                                <div class="col-xl-6 col-md-6 mb-4">
                                    <div class="card border-left-warning shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                        Record</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">Daily Health</div>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="{% url 'healthtracker' patient.id %}" class="btn btn-warning btn-circle btn-lg">
                                                        <i class="fas fa-clipboard-list"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-12 col-md-6 mb-4">
                                    <center>
                                    <a href="{% url 'assigntelemed' patient.id %}" class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-flag"></i>
                                        </span>
                                        <span class="text">Assign to a Telemed</span>
                                    </a>
                                    </center>
                                </div>
                            </div>

                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Vital Signs & Daily Health Log</h6>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered text-gray-900" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Time</th>
                                                    <th>Category</th>
                                                    <th>Details</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for vitalsign in vitalsigns %}
                                                    <tr>
                                                        <td>{{vitalsign.date_created.date}}</td>
                                                        <td>{{vitalsign.date_created.time}}</td>
                                                        <td>Vital Signs</td>
                                                        <td><a href="{% url 'vitalsigndetails' patient.id vitalsign.id %}" class="btn btn-info btn-circle"><i class="fas fa-info-circle"></i></a</td>
                                                    </tr>
                                                {% endfor %}

                                                {% for healthtrack in healthtracker %}
                                                <tr>
                                                    <td>{{healthtrack.date_created.date}}</td>
                                                    <td>{{healthtrack.date_created.time}}</td>
                                                    <td>Health Tracker</td>
                                                    <td><a href="{% url 'healthtrackerdetails' patient.id healthtrack.id %}" class="btn btn-info btn-circle"><i class="fas fa-info-circle"></i></a</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Patient's Status</h6>
                                </div>
                                <div class="card-body text-gray-900">
                                    <form action="" method=POST class="user">
                                        {% csrf_token %}
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                Name: <b>{{patient.name}}</b><br>
                                                Age: <b>{{patient.age}}</b><br>
                                                <center>
                                                <label for="bp" class="text-gray-900">Status</label>
                                                {{form.status}}
                                                <br>
                                                <label for="bp" class="text-gray-900">If patient will <b>transfer to hospital</b>, input hospital name:</label>
                                                {{form.hospital}}
                                                <label for="bp" class="text-gray-900">If patient will <b>transfer to isolation facility</b>, input facility name:</label>
                                                {{form.isolationfacility}}
                                                </center>
                                            </div> 
                                        </div>
                                        
                                        <input type="submit" value="Update" class="btn btn-primary btn-user btn-block">
                                    </form>                   
                                </div>
                            </div>

                        </div>

                    </div>
                    
{% endblock content %}